*{
    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;    
}
header {
    background-color: yellow;         
}

.logo{    
    width: 15%;
    vertical-align: middle;    
}

.titulo{    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;  
    text-align: center; 
    display: inline-block;
    vertical-align: middle;    
    background-color: yellow; 
    width: 80%;
    }

main{
    display:flex;    
    background: #F3F5FC ;
}

.caja1{
    margin-left: 3%;
    margin-right: 3%;
    width: 45%;    
}

.caja2{
    margin-left: 3%;
    margin-right: 3%;
    width: 45%;
        
}


.text-area{
    border:darkgray ;
    border-radius: 3%;
    color: #0A3871;
    margin-top: 10px;
    padding: 2%;
    text-transform: lowercase;        
    width: 90%;    
    resize: none;
}

::placeholder{color: gray;}
.text-area focus{
    outline: none;
}

botones{
    display: flex ;
    margin-top: 18px;
    margin-bottom: 50px;

}

.btn-desencriptar{
    background: #D8EFD8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    padding:  2% 2%  ;
    margin: 2% 2%;
    width: 40%;
    font-size: xx-large;     
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    padding:  2% 2%  ;
    width: 40%;  
    font-size: xx-large; 
}

.mensaje{
    background: white;
    background-image: url("imagenes/Muneco.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    border-radius: 3%;
    color: black;    
    margin-top: 10px;    
    padding: 2%;
    width: 90%;   
    resize: none;
    align-content: end;
    
    /* position: relative ; */
}
.mensaje:focus{
    outline: none;
}


.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    padding:  2% 2%  ;
    margin: 2% 2%;
    width: 45%;
    font-size: xx-large;
}

.informacion{
    color: #495057;
    font-size: 24px; 
}

footer{
    background-color: yellow;
    padding:40px;    
    text-align: center;
    
}

.autor{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%; 
    display: inline-block;
}

@media screen and (max-width:480px){
    .logo{    
        width: 30%;
        vertical-align: middle;    
    }
    .titulo{    
        font-family: 'Inter';
        font-weight: 400;
        font-size: x-large;
        line-height: 150%;  
        text-align: center; 
        display: inline-block;
        vertical-align: middle;    
        background-color: yellow; 
        width: 60%;
        }
    h1{
        text-align: center;
    }
    main{
        display:block;    
        
    }
    
    .caja1, .caja2 {
        width: auto;
    }

    .informacion{
        font-size: small; 
    }

    .btn-desencriptar, .btn-encriptar, .copiar {
        width: 80%;
        display: block ;
    }

    footer{
        position: static;
    }

    .autor{
        font-family: 'Inter';
        font-weight: 400;
        font-size: small;
        line-height: 100%; 
        display: inline-block;
    }
    


}




